@page "/"
@inject DPSService DpsDevice

<h1>Hello, world!</h1>

@if (DpsDevice.Running)
{
    <h2>Device is currently running</h2>
    <button onclick="@(()=>this.EnableDevice())" />
}
else
{
    <h2>Device is not currently running</h2>
    <button onclick="@(()=>this.DisableDevice())" />
}

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.DpsDevice.PropertiesUpdated += this.dpsChanged;
    }

    public void dpsChanged()
    {
        this.InvokeAsync(() => StateHasChanged());
    }

    public void EnableDevice()
    {
        this.DpsDevice.Start();
    }

    public void DisableDevice()
    {
        this.DpsDevice.Stop();
    }

    public void Dispose()
    {
        this.DpsDevice.PropertiesUpdated -= this.dpsChanged;
    }
}